body {
  border: 0px;
  margin: 0px;
}
/*
      <div id="button-atom-c" class="toolbutton not-html-selectable" title="Carbono">C</div>
      <div id="button-atom-h" class="toolbutton not-html-selectable" title="Hidrógeno">H</div>
      <div id="button-atom-n" class="toolbutton not-html-selectable" title="Nitrógeno">N</div>
      <div id="button-atom-o" class="toolbutton not-html-selectable" title="Oxígeno">O</div>
      <div id="button-atom-p" class="toolbutton not-html-selectable" title="Fósforo">P</div>
      <div id="button-atom-s" class="toolbutton not-html-selectable" title="Azufre">S</div>
      <div id="button-atom-f" class="toolbutton not-html-selectable" title="Fluor">F</div>
      <div id="button-atom-cl" class="toolbutton not-html-selectable" title="Cloro">Cl</div>
      <div id="button-atom-br" class="toolbutton not-html-selectable" title="Bromo">Br</div>
      <div id="button-atom-i" class="toolbutton not-html-selectable" title="Iodo">I</div>*/
#glmol {
  top: 40px;
  bottom: 5px;
  right: 50%;
  left: 0px;
  width: 50%;
  position: absolute;
  background-color: black;
  border: 0px;
}

#view-wrapper {
  right: 0px;
  left: 50%;
  top: 40px;
  bottom: 5px;
  position: absolute;
  background-color: white;
}

#pad {
  position: relative;
  width: calc(100% - 40px);
  height: 100%;
  left: 40px;
}

#glmol_src {
  display: none;
}

.toolbar {
  left: 0px;
  display: block; 
  position: absolute;
  background-color: #fff;
}

.htoolbar {
  overflow-x: auto;
  height: 40px;
}

.vtoolbar {
  overflow-y: auto;
  width: 40px;
}

#toolbar-pad {
  left: 50%;
  width: 50%;
}

.htoolbar div {
  float: left;
}

#toolbar-elements {
  top: 0px;
  height: 100%;
}

.vtoolbar div {
  float: top;
}

#toolbar-3d {
  left: 0px;
  width: 50%;
}

.tool-right {
  display: block;
  float: right!important;
}

.tool-bottom {
  /* FIXME */
  display: block;
  float: bottom!important;
}

.toolbutton {
  width: 40px;
  height: 40px;

  cursor: pointer;
  /* ^^^ Hace que parezca un link, cuando el cursor se
  posiciona sobre este div cambiará a la manito. */

  margin: 0;
  padding: 0;
  color: #000;
  line-height: 40px;
  text-align: center;
  font-size: 16pt;
  border: 0;
}

.vtoolbar > .toolbutton:hover, .vtoolbar > .thover {
  background-color: #FFCC80;
  border-right: 3px solid #FF9800;
  width: 37px;
}

.htoolbar > .toolbutton:hover, .htoolbar > .thover {
  background-color: #FFCC80;
  border-bottom: 3px solid #FF9800;
  height: 37px;
}

.vtoolbar > .toolbutton-selected {
  background-color: #80CBC4!important;
  border-right: 3px solid #009688!important;
  width: 37px;
}

.htoolbar > .toolbutton-selected {
  background-color: #80CBC4!important;
  border-bottom: 3px solid #009688!important;
  height: 37px;
}

.htoolbar > .separator {
  margin: 5px;
  width: 0px;
  height: 30px;
  border-right: 1px solid #ccc
}

.vtoolbar > .separator {
  margin: 5px;
  width: 30px;
  height: 0px;
  border-bottom: 1px solid #ccc
}

.toolbar, .not-html-selectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

select {
  cursor: pointer;
}

.htoolbar > select {
  height: 100%;
  background-color: #fff;
  font-size: 18px;
}

#upload-file {
  display: none;
}

.popup {
  display: none;
  position: relative;
}

#toolbar-bonds {
  top: 0px;
  left: 40px;
  width: 120px;
  position: absolute;
  z-index: 1;  /* Es necesario para que se dibuje encima del canvas */
  box-shadow: 2px 0px 10px 2px #888888;
}
